@model IEnumerable<LawyerWebSiteMVC.Data.Letter>

@{
    ViewData["Title"] = "Letters";
}

<div class="container-xl px-4 mt-5">
    <h1 class="mb-3">Gelen Mesajlar</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>İsim</th>
                <th>Mesaj</th>
                <th>Telefon numarası</th>
                <th>Detay</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var letter in Model)
            {
                <tr>
                    <td>@letter.Email</td>
                    <td>@letter.Name</td>
                    <td>@Html.Raw(letter.Content.Length > 100 ? letter.Content.Substring(0, 100) + "..." : letter.Content)</td>
                    <td>@letter.PhoneNumber</td>
                    <td>
                        <a href="@Url.Action("Detail", "Letter", new { id = letter.Id, area = "Cms" })" class="btn btn-sm btn-info">Detay</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
