@model IEnumerable<LawyerWebSiteMVC.Data.Letter>

@{
    ViewData["Title"] = "Letters";
}

<div class="container-xl px-4 mt-5">
    <h1 class="mb-3">Letters</h1>
    <a class="btn btn-primary mb-3" asp-action="Create">New Letter</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Title</th>
                <th>Content</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var letter in Model)
            {
                <tr>
                    <td>@letter.Email</td>
                    <td>@letter.Name</td>
                    <td>@letter.Title</td>
                    <td>@Html.Raw(letter.Content.Length > 100 ? letter.Content.Substring(0, 100) + "..." : letter.Content)</td>
                    <td>@letter.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>
