@using Microsoft.AspNetCore.Mvc.ModelBinding
@model LawyerWebSiteMVC.Models.ArticleDetailsViewModel

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@Model.Article.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <!-- bradcam_area_start  -->
    <div class="bradcam_area">
        <div class="bradcam_inner bradcam_bg_2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text text-center">
                            <h3>@Model.Article.Title</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            @if (Model.Article.ArticlePhotos != null && Model.Article.ArticlePhotos.Any())
                            {
                                <img class="img-fluid"
                                    src="data:image/png;base64,@Convert.ToBase64String(Model.Article.ArticlePhotos.FirstOrDefault()?.Image)"
                                    alt="Article Image">
                            }
                        </div>
                        <div class="blog_details">
                            <h2>@Model.Article.Subtitle</h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="#"><i class="fa fa-user"></i> @Model.Article.Category?.CategoryName</a>
                                </li>
                            </ul>
                            <p class="excert">
                                @Html.Raw(Model.Article.Content)
                            </p>
                        </div>
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="navigation-area">
                            <div class="row">
                                @if (Model.PreviousArticle != null)
                                {
                                    <div
                                        class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                        <div class="thumb">
                                            <a
                                                href="@Url.Action("Detail", "Article", new { id = Model.PreviousArticle.Id })">
                                                <img class="img-fluid"
                                                    src="@(Model.PreviousArticle.ArticlePhotos?.FirstOrDefault()?.Image != null ? $"data:image/png;base64,{Convert.ToBase64String(Model.PreviousArticle.ArticlePhotos.FirstOrDefault()?.Image)}" : "img/default.png")"
                                                    alt="Previous Article"
                                                    style="width: 100px; height: 100px; object-fit: cover;">
                                            </a>
                                        </div>
                                        <div class="arrow">
                                            <a
                                                href="@Url.Action("Detail", "Article", new { id = Model.PreviousArticle.Id })">
                                                <span class="lnr text-white ti-arrow-left"></span>
                                            </a>
                                        </div>
                                        <div class="detials">
                                            <p>Önceki Makale</p>
                                            <a
                                                href="@Url.Action("Detail", "Article", new { id = Model.PreviousArticle.Id })">
                                                <h4>@Model.PreviousArticle.Title</h4>
                                            </a>
                                        </div>
                                    </div>
                                }
                                @if (Model.NextArticle != null)
                                {
                                    <div
                                        class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                        <div class="detials">
                                            <p>Sonraki Makale</p>
                                            <a href="@Url.Action("Detail", "Article", new { id = Model.NextArticle.Id })">
                                                <h4>@Model.NextArticle.Title</h4>
                                            </a>
                                        </div>
                                        <div class="arrow">
                                            <a href="@Url.Action("Detail", "Article", new { id = Model.NextArticle.Id })">
                                                <span class="lnr text-white ti-arrow-right"></span>
                                            </a>
                                        </div>
                                        <div class="thumb">
                                            <a href="@Url.Action("Detail", "Article", new { id = Model.NextArticle.Id })">
                                                <img class="img-fluid"
                                                    src="@(Model.NextArticle.ArticlePhotos?.FirstOrDefault()?.Image != null ? $"data:image/png;base64,{Convert.ToBase64String(Model.NextArticle.ArticlePhotos.FirstOrDefault()?.Image)}" : "img/default.png")"
                                                    alt="Next Article"
                                                    style="width: 100px; height: 100px; object-fit: cover;">
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="comments-area">
                        <h4>@Model.Comments.Count() Yorumlar</h4>
                        @foreach (var comment in Model.Comments.Where(c => c.Status))
                        {
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="desc">
                                            <p class="comment">@comment.Content</p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5><a href="#">@comment.Name</a></h5>
                                                    <p class="date">@comment.CreatedDate.ToString("MMMM dd, yyyy at hh:mm tt")</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <a href="#" class="btn-reply text-uppercase">Yorum</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="pagination">
                            @if (Model.CommentsPageNumber > 1)
                            {
                                <a href="@Url.Action("Detail", new { id = Model.Article.Id, commentsPage = Model.CommentsPageNumber - 1 })">Önceki</a>
                            }
                            @if (Model.Comments.Count() == Model.CommentsPageSize)
                            {
                                <a href="@Url.Action("Detail", new { id = Model.Article.Id, commentsPage = Model.CommentsPageNumber + 1 })">Sonraki</a>
                            }
                        </div>
                    </div>

                    <div class="comment-form">
                        <h4>Yorum bırakın!</h4>
                        @if (ViewData["ModelStateErrors"] != null)
                        {
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach (var error in (List<string>)ViewData["ModelStateErrors"])
                                    {
                                        <li>@error</li>
                                    }
                                </ul>
                            </div>
                        }
                        <form class="form-contact comment_form" action="@Url.Action("Create", "Comment")" method="post" id="commentForm">
                            <input type="hidden" name="ArticleId" value="@Model.Article.Id" />
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="Content" id="comment" cols="30" rows="9" placeholder="Yorum yazın" required></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="Name" id="name" type="text" placeholder="İsim" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="Email" id="email" type="email" placeholder="Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                       <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Makaleler</h3>
                            @foreach (var latestArticle in Model.LatestArticles)
                            {
                                <div class="media post_item">
                                    <img src="@(latestArticle.ArticlePhotos?.FirstOrDefault()?.Image != null ? $"data:image/png;base64,{Convert.ToBase64String(latestArticle.ArticlePhotos.FirstOrDefault().Image)}" : "img/default.png")" alt="post" style="width: 60px; height: 60px; object-fit: cover;">
                                    <div class="media-body">
                                        <a href="@Url.Action("Detail", "Article", new { id = latestArticle.Id })">
                                            <h3>@latestArticle.Title</h3>
                                        </a>
                                        <p>@latestArticle.CreatedDate.ToString("MMMM dd, yyyy")</p> 
                                    </div>
                                </div>
                            }
                        </aside>
                    </div>
                </div>
    </section>
    <!--================ Blog Area end =================-->

    <!-- JS here -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollIt.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>

    <!--contact js-->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>

    <script src="~/js/main.js"></script>

</body>

</html>
